@import '../../styles/abstract/mixins';
.home{
    height: 100vh;
    width: 100%;
    background: url('../../images/bgimage.webp') no-repeat;
    // background-position: center;
    background-size: cover;
    @include flex-center(flex,row,center,center);

    &__container{
        width: 35%;
        text-align: center;
        border-radius: 20px;
        h2{
            font-size: 42px;
        }

        .button{
            margin-top: 1rem;
            font-size: 1.2rem;
            display: inline-block;
            background-color: white;
        }
    }
}